# Git
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ambientes virtuais
.env
.venv
env/
venv/
ENV/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Diretórios de dados temporários
docker-data/

# IDE e editores
.idea/
.vscode/
*.swp
*.swo
*.swn
*.DS_Store

# Arquivos do Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentação e outros
README.md
LICENSE
*.md 